<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,
  initial-scale=1.0">
  <link rel="stylesheet" href="/static/stylesheets/style.css" type="text/css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <!-- Icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
    integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
  <!-- Fonts -->
  <link
    href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
    rel="stylesheet">
  <title>myApp</title>
</head>

<body id='bg'>
  <header>
    <button class="home" style="background-color:#f1bb4e"><i class="fas fa-home"></i></button>
    <h2>Tu veux tout savoir sur les animaux ? Tu es au bon endroit !</h2>
    <button class="listBtn" style="background-color:#f1bb4e"><i class="fas fa-star"></i></button>
  </header>
  <section class="sect1">
    <h1>Quel animal recherche-tu ?</h1>
    <div>
      <input id="inputSearch" type="text">
      <button id="btnSearch"><i class="fas fa-search"></i></button>
    </div>
    <button class="clicBtn">Clic ici si tu veux choisir un animal au hasard</button>
  </section>
  <section class="sect2">
    <div class="arrow"></div>
  </section>
  <section class="sect3">
    <a href="something" class="button4" style="background-color:#f14e4e"><i class="fas fa-fish"></i> Les poissons</a>
    <a href="something" class="button4" style="background-color:#f1bb4e"><i class="fas fa-hippo"></i> Les mammifères</a>
    <a href="something" class="button4" style="background-color:#84f14e"><i class="fab fa-octopus-deploy"></i> Les molusques</a>
    <a href="something" class="button4" style="background-color:#4ef18f"><i class="fas fa-crow"></i> Les oiseaux</a>
    <a href="something" class="button4" style="background-color:#4e9af1"><i class="fas fa-bug"></i> Les insectes</a>
    <a href="something" class="button4" style="background-color:#9a4ef1"><i class="fas fa-frog"></i> Les amphibiens</a>
    <a href="something" class="button4" style="background-color:#f14ebd"><i class="fas fa-dragon"></i> Les reptiles</a>
  </section>

  <section class="sect3">
    <!-- Ce qu'il faut dans une fiche animal : 
    Photo
    Nom
    Nom scientifique
    Classification
    Milieu de vie
    Taille
    Poids
    Longévité
    Reproduction
    Régime alimentaire
    Comportement -->
  </section>
  <script src="static/scripts/index.js"></script>
</body>

</html>